<div class="login-page">
  <div class="pokeball-container">
    <div class="login-form">
      <div class="login-title">Pokémon Login</div>

      <input class="login-input" type="text" [(ngModel)]="username" placeholder="Correo" />

      <input class="login-input" type="password" [(ngModel)]="password" placeholder="Contraseña" />

      <button class="login-button" (click)="login()">Entrar</button>

      <div class="forgot-password">
        <a routerLink="/forgot-password"> ¿Olvidaste tu contraseña? </a>
      </div>
    </div>
  </div>
</div>
