<div class="reset-page">

  <div class="reset-card">

    <h1>Nueva Contraseña</h1>

    <p>
      Ingresa tu nueva contraseña.
    </p>

    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Nueva contraseña"
      class="reset-input"
    />

    <input
      type="password"
      [(ngModel)]="confirmPassword"
      placeholder="Confirmar contraseña"
      class="reset-input"
    />

    <button
      class="reset-button"
      (click)="savePassword()">

      Guardar contraseña

    </button>

  </div>

</div>